-----BEGIN CERTIFICATE-----
MIIFszCCA5ugAwIBAgIUdeDmFZkFcVLk9d3EQ506V9B//REwDQYJKoZIhvcNAQEL
BQAwaTELMAkGA1UEBhMCSVQxDjAMBgNVBAgMBVN0YXRlMQ0wCwYDVQQHDARDaXR5
MREwDwYDVQQKDAg0MlNjaG9vbDESMBAGA1UECwwJSW5jZXB0aW9uMRQwEgYDVQQD
DAthbWVtYS40Mi5mcjAeFw0yNTA1MTAwOTEyMDZaFw0yNjA1MTAwOTEyMDZaMGkx
CzAJBgNVBAYTAklUMQ4wDAYDVQQIDAVTdGF0ZTENMAsGA1UEBwwEQ2l0eTERMA8G
A1UECgwINDJTY2hvb2wxEjAQBgNVBAsMCUluY2VwdGlvbjEUMBIGA1UEAwwLYW1l
bWEuNDIuZnIwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC87ZZ2DiwD
F3h0RE0D0/YDaOvzHgfVbFdoZJRMGKR4/p8tYTFjJLIebipKznLCpo9ijyNoIqGc
ErI+rSf2dk/vtNh1ox/669SY19TMCHsYAtQiJq1LrVhUAUaAOP/wAffBTWbu544f
lfdJa+DA+PwcHW5LBHgVUxy128ToXrlOZfrv1IbKCCx+GfU4tvv4VPUg2SzCVJLO
DKrMIOpW1/rhFEi0j5BkjSJcBy1GbAXDH63Vj+xYrac+8glR+3DR7UU1N0FmEfBY
afNrJp1Q6kwmeT5Fzfq/hd8BI+ccx1f1ZOv6BWFVR36o6f4L4hAM0zbyqRrfGjAJ
PlSV8N75l2uAGONa9lrv1utgPfmiwCdCUMJ6C6hQHjgXBWY3OCzS5PbfAfQju3ce
O7L6TrjBPNy1IwN74XDO3vd09ookSZfwbmiyMu2ApJ10BYLcudPBAonP2ibRjkH3
o59W4uJvk0oD3hWbHw76l147HRQopzCtPFbzhGidbs9eywQTv9xGY+R4OKPEVTw/
rLoSu2OVryDKVi3McM5JQ95VqQsdRAMHV04Dv64S5uBU6s7oTAT4K6nQHxhmshxZ
+JiEKBKv3iHKpOidMTOxkQhE5zYR5nUE4kDDe6untfkHVAja/U3Bq4YLb/C38wDo
21BMnADmQhl9sf6VurGOLM2OC9XWA7SpKQIDAQABo1MwUTAdBgNVHQ4EFgQUbhkD
RLNl3jL4B6Q3fAMa5cxcSY8wHwYDVR0jBBgwFoAUbhkDRLNl3jL4B6Q3fAMa5cxc
SY8wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAN0J7e+4ByqOV
BTSAZ8vDrGsBvu/NnyIE+2F/UEBcdSOYfvilbRbIZyHPdZIsW6UYywGu7fPUg4I1
F+wW54ZkxpZeWsx2J0KrA6P8zWBILba54k6OFT2t8J3niO64jWrC05oB6qBMyLQL
aWmyjeOZy+5BE0oMUFiZ9WfWWhqIdXNqzTpqK55PfD3GmyLJcw4JZ6pftFMv4gZv
8EH2/hZT9qk3gW9PQh5vsWKSKTASUaBQt2GfX4SVHcsKNSQEAl/Rir98szfMtvVY
KdZuiSViPa6UlxF+6ZTXn7TIC5WZMEdp0Hc1y31Tc9eTcv5Zl53/l5eeGwi2CG3d
TxhqRYyvFv5/kBYU0fbsAoBnkdwI6O9EcwLy+IslOO9wEd3pTwuxDVbDjQm236vr
FTgmc4C3+ZXyiYRala8qhroO2XVwTYl/hTTzF5xl4jEnN+04wiPSMz2+hR0hXzxH
YC7QQ32tbPorRo2VKrydLt6Atn1b3mMDTADTU15ajHSK7/5ipS2yvaHeflQ8tHdF
DU85VT0GqHBDPPoo50dCKgYFbCTH3tzICENu4mS4QFhBWdazj+/mokDSdMUcO969
Tfdl3I+X50p15SXnRrD9sD82bUx7n8FXCZCOcme36aw2XbujVB0CwOVY2YlAKGYc
P0onlqDOBSzJqZtjhrsNEQQi8ik2fcU=
-----END CERTIFICATE-----
